<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.layou.study.server.exam.dao.mybatis.TopicDao">
  <!--查询一条记录-->
  <select id="findById" resultMap="TopicMap">SELECT <include refid="columns"/> FROM HS_TOPIC WHERE TOPIC_ID=#{topicId}</select>
  <!--查询所有记录-->
  <select id="findAll" resultMap="TopicMap">SELECT <include refid="columns"/> FROM HS_TOPIC</select>
  <!--按User查询题目-->
  <select id="findTopicByUser" resultType="map">SELECT HTP.TOPIC_ID AS topicId, HTP.TOPIC AS topic, HTP.ANSWER AS answer, HTP.RIGHT_ANSWER AS rightAnswer, HTP.TOPIC_SCORE AS topicScore, HTP.ANALYSIS AS analysis, HTP.DIFFICULTY AS difficulty, HTP.CHAPTER_ID AS chapterId , IF(HCL.COLLECT_ID, 'true', 'false') AS collect FROM HS_TOPIC AS HTP LEFT JOIN (SELECT * FROM HS_COLLECT WHERE USER_ID = #{userId}) AS HCL ON HTP.TOPIC_ID = HCL.TOPIC_ID</select>
  <!--按User查询收藏-->
  <select id="findCollectByUser" resultType="map">SELECT HTP.TOPIC_ID AS topicId, HTP.TOPIC AS topic, HTP.ANSWER AS answer, HTP.RIGHT_ANSWER AS rightAnswer, HTP.TOPIC_SCORE AS topicScore, HTP.ANALYSIS AS analysis, HTP.DIFFICULTY AS difficulty, HTP.CHAPTER_ID AS chapterId, HCL.COLLECT_ID AS collectId FROM HS_TOPIC AS HTP RIGHT JOIN (SELECT * FROM HS_COLLECT WHERE USER_ID = #{userId}) AS HCL ON HTP.TOPIC_ID = HCL.TOPIC_ID</select>
  <!--按UserChapter查询题目-->
  <select id="findTopicByUserChapter" resultType="map">SELECT TOPIC_ID AS topicId, TOPIC AS topic, ANSWER AS answer, RIGHT_ANSWER AS rightAnswer, TOPIC_SCORE AS topicScore, ANALYSIS AS analysis, DIFFICULTY AS difficulty, CHAPTER_ID AS chapterId , IF(COLLECT_ID, 'true', 'false') AS collect FROM (SELECT HTP.*, HCL.COLLECT_ID FROM HS_TOPIC AS HTP LEFT JOIN (SELECT * FROM HS_COLLECT WHERE USER_ID = #{userId}) AS HCL ON HTP.TOPIC_ID = HCL.TOPIC_ID) AS SUB where SUB.CHAPTER_ID = #{chapterId}</select>
  <!--按条件查询-->
  <select id="search" parameterType="map" resultMap="TopicMap">SELECT <include refid="columns"/> FROM HS_TOPIC
    <where>
      <if test="chapterId != null and chapterId != ''">CHAPTER_ID LIKE CONCAT('%',#{chapterId},'%')</if>
    </where>
  </select>
  <!--分页查询-->
  <select id="searchByPage" parameterType="map" resultMap="TopicMap">SELECT <include refid="columns"/> FROM HS_TOPIC
    <where>
      <if test="chapterId != null and chapterId != ''">CHAPTER_ID LIKE CONCAT('%',#{chapterId},'%')</if>
    </where>
  </select>
  <!--插入记录-->
  <insert id="save" parameterType="Topic">INSERT INTO HS_TOPIC (<include refid="columns"/>) VALUES (#{topicId},#{topic},#{answer},#{rightAnswer},#{topicScore},#{analysis},#{difficulty},#{chapterId})</insert>
  <!--删除记录-->
  <delete id="delete">DELETE FROM HS_TOPIC WHERE TOPIC_ID=#{topicId}</delete>
  <!--修改记录-->
  <update id="update" parameterType="Topic">UPDATE HS_TOPIC
    <set>
      <if test="topic != null">TOPIC = #{topic}, </if>
      <if test="answer != null">ANSWER = #{answer}, </if>
      <if test="rightAnswer != null">RIGHT_ANSWER = #{rightAnswer}, </if>
      <if test="topicScore != null">TOPIC_SCORE = #{topicScore}, </if>
      <if test="analysis != null">ANALYSIS = #{analysis}, </if>
      <if test="difficulty != null">DIFFICULTY = #{difficulty}, </if>
      <if test="chapterId != null">CHAPTER_ID = #{chapterId}, </if>
    </set>WHERE TOPIC_ID=#{topicId}
  </update>
  <!--结果映射-->
  <resultMap type="Topic" id="TopicMap">
    <result column="TOPIC_ID" property="topicId"/>
    <result column="TOPIC" property="topic"/>
    <result column="ANSWER" property="answer"/>
    <result column="RIGHT_ANSWER" property="rightAnswer"/>
    <result column="TOPIC_SCORE" property="topicScore"/>
    <result column="ANALYSIS" property="analysis"/>
    <result column="DIFFICULTY" property="difficulty"/>
    <result column="CHAPTER_ID" property="chapterId"/>
  </resultMap>
  <!--查询字段-->
  <sql id="columns">TOPIC_ID,TOPIC,ANSWER,RIGHT_ANSWER,TOPIC_SCORE,ANALYSIS,DIFFICULTY,CHAPTER_ID</sql>
</mapper>
